@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
*,
*::before,
*::after {
	font-family: "Poppins", sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
}

.dosen .background_card {
	background-color: #f1f3f7;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem 0 2rem 1rem;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dosen .background_card .col-sm-8 {
	margin-top: 2rem;
	padding: 0;
}

.dosen .background_card .col-sm-8 p {
	font-size: 17px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.dosen .background_card .col-sm-8 h4 {
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 800;
}

.dosen .kotak_img {
	width: 100%;
	height: 10rem;
	border-radius: 10px;
	overflow: hidden;
}

.dosen .kotak_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sejarah_isi {
	margin-top: 50px;
	margin-bottom: 50px;
}

.sejarah_isi .sejarah_text_header {
	font-size: 25px;
	font-weight: 800;
}

.footerCopyright {
	background-color: black;
	padding: 10px;
}

.footerCopyright span {
	color: white;
}

.footer {
	display: none;
}

.footer-laptop .icon_media_sosial .wat,
.footer-laptop .icon_media_sosial .fbk,
.footer-laptop .icon_media_sosial .ytb,
.footer-laptop .icon_media_sosial .isg,
.footer-laptop .icon_media_sosial .linkind {
	transition: font-size 0.3s ease; /* Menambahkan transisi untuk perubahan ukuran font */
}

.footer-laptop .icon_media_sosial .wat:hover {
	color: #1bc22e;
	font-size: 2.2rem;
}

.footer-laptop .icon_media_sosial .fbk:hover {
	color: #4867aa;
	font-size: 2.2rem;
}

.footer-laptop .icon_media_sosial .isg:hover {
	color: #ee4b51;
	font-size: 2.2rem;
}

.footer-laptop .icon_media_sosial .ytb:hover {
	color: #ff0000;
	font-size: 2.2rem;
}

.footer-laptop .icon_media_sosial .linkind:hover {
	color: #0077b5;
	font-size: 2.2rem;
}

.footer-laptop .perBoxIcon {
	background-color: green;
}

.footer-laptop .icon-footer {
	color: white;
	font-size: 30px;
}

.footer-laptop .utama {
	margin-top: 5px;
}

.footer-laptop .footer_icon {
	margin-left: -60px;
	margin-top: 20px;
	color: white;
	font-weight: 300;
	font-size: 12px;
}

.footer-laptop .icon {
	margin-top: 22px;
	color: white;
	font-weight: 300;
	font-size: 18px;
}

.footer-laptop .footer_about {
	color: white;
	font-weight: 800;
	font-size: 14px;
	margin-left: -40px;
	font-family: "Viga", sans-serif;
}

.footer-laptop .footer_about span {
	color: white;
	font-weight: 600;
	font-size: 14px;
	font-family: "Viga", sans-serif;
}

.footer-laptop .footer-beranda h3 {
	font-family: "Viga", sans-serif;
	font-weight: 600;
}

.footer-laptop .footer-beranda .link {
	display: grid;
}
.footer-laptop .footer-beranda .link a {
	color: white;
	line-height: 50px;
	font-family: "Viga", sans-serif;
}

.footer-laptop .footer-beranda .link a:hover {
	color: blue;
	text-decoration: none;
}

.footer-laptop .footer-beranda-1 {
	margin-left: 110px;
}
.footer-laptop .footer-beranda-2 {
	margin-left: 80px;
}

.footer-laptop .row {
	color: white;
}

.footer-laptop {
	background-color: #212529;
}

.footer-laptop .img-logo {
	width: 50px;
	margin-left: -15px;
}

.footer-laptop {
	padding-top: 50px;
	padding-bottom: 30px;
}

.navbar-brand .mobile {
	display: none;
}

#exTab3 .nav-pills > li > a {
	border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
}

.background_putih {
	background-color: #f3f1f1;
	padding: 50px 0;
}

.navbar {
	position: fixed; /* Posisi tetap */
	top: 0; /* Posisi di bagian atas layar */
	left: 0; /* Aligned dengan sisi kiri layar */
	right: 0; /* Aligned dengan sisi kanan layar */
	height: 100px; /* Tinggi navbar (sesuaikan sesuai kebutuhan) */
	background-color: #271e92; /* Warna latar belakang */
	color: white; /* Warna teks agar terlihat di atas warna latar belakang */
	display: flex; /* Flexbox untuk alignment */
	justify-content: space-between; /* Elemen rata sesuai keinginan */
	align-items: center; /* Elemen di tengah secara vertikal */
	z-index: 1000; /* Z-index tinggi untuk menjaga agar navbar berada di atas elemen lain */
	padding: 0 20px; /* Padding horizontal untuk ruang dalam navbar */
}

.navbar .hamburger span {
	color: white;
}

.navbar-dark .navbar-toggler-icon {
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.navbar .navbar-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar .navbar-brand img {
	width: 45px;
	height: 45px;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.navbar .navbar-brand h1 {
	font-size: 1rem;
	margin-left: 10px;
	font-family: "Viga", sans-serif;
	letter-spacing: 1.4px;
	font-weight: 800;
	color: #fff;
}

.navbar .navbar-brand .sekolah {
	font-size: 1rem;
	font-family: "Viga", sans-serif;
	font-weight: 500;
	color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar
	.navbar-collapse
	.navbar-nav
	.nav-item
	.dropdown-menu
	.dropdown-item:hover {
	background-color: blue;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
	margin: 0;
	padding: 0;
	width: 15rem;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	font-size: 1.1rem;
	margin-left: 20px;
	font-weight: 600;
	color: #fff;
}

.navbar .form-inline .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.navbar .form-inline .btn {
	width: 70px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.navbarKu {
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.navbarKu .navbar-brand h1,
.navbarKu .navbar-collapse .navbar-nav .nav-item .nav-link {
	color: #000;
}

.nav-item {
	position: relative;
}

.nav-item .dropdown-menu {
	position: absolute;
	left: 0;
}

.slideshow {
	width: 100%;
	position: relative;
}

.slideshow img {
	width: 100%;
}

.slideshow .container {
	position: absolute;
	bottom: 150px;
	left: 150px;
}

.slideshow .container .mainText {
	position: relative;
}

.slideshow .container .mainText .garis {
	position: absolute;
	width: 7px;
	height: 80px;
	border-radius: 10px;
	background-color: #ffa51c;
}

.slideshow .container .mainText h3 {
	font-size: 1.5rem;
	margin-left: 30px;
	color: #fff;
}

.slideshow .container .mainText h1 {
	margin: 20px 0 40px 30px;
	font-weight: 1000;
	line-height: 10px;
	text-transform: uppercase;
	color: #fff;
}

.slideshow .container h3 {
	color: #fff;
	font-size: 1.1rem;
}

.title {
	margin: 150px auto 30px auto;
}

.title h1 {
	font-size: 2.5rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
}

.title h2 {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	text-align: center;
}

.title p {
	font-size: 1.1rem;
	text-align: center;
}

.perGaleri {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.perGaleri img {
	width: 250px;
	height: 150px;
	margin: 5px;
}

.scroll {
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.scroll .navbar-brand h1,
.scroll .navbar-collapse .navbar-nav .nav-item .nav-link {
	color: #000;
}

.sambutan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 30px 0;
}

.sambutan h3 {
	font-weight: 650;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.sambutan p {
	font-size: 1rem;
	font-weight: 400;
}

.banner-pendaftaran {
	background-color: #271e92;
	padding-top: 50px;
	padding-bottom: 40px;
}

.banner-pendaftaran .text-header {
	color: white;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.banner-pendaftaran .text-daftar {
	color: white;
}

.banner-pendaftaran .col-btn-daftar {
	text-align: right;
}

.banner-pendaftaran .btn-daftar {
	color: black;
	font-weight: bold;
	padding: 10px 50px 10px 50px;
	background-color: white;
	border-radius: 10px;
}

.banner-news-galeri {
	margin-top: 30px;
	/* background-color: black; */
}

.banner-news-galeri .text-header {
	color: black;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.galeri-foto-video .tab-content .video_background {
	/* background-color: green; */
	width: 100%;
	height: 15rem;
	border-radius: 10px;
	overflow: hidden;
}

.galeri-foto-video .tab-content .video_background iframe {
	width: 100%;
	height: 100%;
	margin-top: -10px;
	border: none; /* Menghilangkan border default iframe */
}

.galeri-foto-video .tab-content .row_video {
	margin-top: 30px;
	margin-bottom: 30px;
}

.galeri-foto-video .tab-content .card {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
}

.news-body .card-header .jam {
	color: gray;
	letter-spacing: 1px;
}

.news-body .card {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
}

.news-body .card-body .card-title {
	font-weight: 700;
}

.banner-sejarah-yayasan {
	background-image: url("../images/otistas_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -23rem;
	padding-top: 80px;
	padding-bottom: 80px;
}

.banner-sejarah-yayasan .text-header {
	color: white;
	font-weight: 800;
	letter-spacing: 1px;
	font-family: "Viga", sans-serif;
	margin-top: 4rem;
	margin-left: -1rem;
}

.banner-sejarah-yayasan .garis {
	font-size: 20rem;
	color: white;
	margin-left: -1rem;
}

.banner-sejarah-yayasan .text-daftar {
	color: white;
	font-family: "Viga", sans-serif;
	margin-left: -1rem;
}

.prodi-pai .row_utama {
	margin-top: 100px;
}

.prodi-pai .body {
	margin-top: 30px;
	margin-bottom: 8rem;
}

.prodi-pai .kotak {
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background-color: black;
	box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.prodi-pai .nav-tabs {
	border-bottom: 0 solid black;
}

.prodi-pai .nav-tabs .nav-item {
	display: flex;
	width: 100%;
}

.prodi-pai .nav-tabs .nav-link {
	flex: 1;
	text-align: center;
	border: none;
	border-radius: 0;
}

.prodi-pai .nav-tabs .nav-tanda {
	border-right: 1px solid #a0a6b0;
}

.prodi-pai .nav-tabs .nav-tanda:hover {
	border-right: 1px solid #a0a6b0;
}

.prodi-pai .nav-tabs .cek {
	background-color: #271e92;
	color: white;
	border-radius: 0;
}

.motto {
	background-color: #f3f1f1;
	padding: 50px 0;
	/* margin-top: 20px; */
}

.motto .container .kotak {
	width: 400px;
	height: 250px;
	border-radius: 10px;
	background-color: black;
	box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.motto .centered-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.motto .container .centered-text h5 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}

.motto .container .centered-text p {
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: 500;
	font-size: 20px;
}

.motto .container .kotak img {
	width: 100%;
	height: 100%;
}

.visi_misi {
	margin-top: 40px;
	margin-bottom: 60px;
}

.visi_misi h4 {
	font-weight: 700;
	line-height: 50px;
}

.visi_misi p {
	font-weight: 500;
}

/* .struktur_manajemen .row {
	margin-bottom: 30px;
} */

.struktur_manajemen .kotak-img {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: black;
	/* box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2); */
	overflow: hidden;
}

.struktur_manajemen .centered-text .text-header {
	font-weight: 800;
}

.struktur_manajemen .centered-text .text-body {
	font-weight: 600;
}

.kepsek {
	background-image: url("../images/bg-visimisi.png");
	margin: 30px 0;
}

.kepsek .isi-kepsek h2 {
	font-weight: 650;
	font-family: "Poppins";
}

.kepsek .isi-kepsek h5 {
	font-weight: 650;
	font-family: "Poppins";
}

.kepsek .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.kepsek .container .kotak {
	width: 300px;
	height: 350px;
	border-radius: 10px;
	background-color: black;
	box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.kepsek .container .kotak img {
	width: 100%;
	height: 100%;
}

.kepsek .container .visiMisi .visi {
	margin: 0 50px 0 100px;
}

.kepsek .container .visiMisi .visi h5 {
	font-size: 1.2rem;
	font-style: italic;
}

.kepsek .container .visiMisi .visi h3 {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 2px;
}

.kepsek .container .visiMisi .misi h5 {
	font-size: 1.2rem;
	font-style: italic;
}

.kepsek .container .visiMisi .misi p {
	font-size: 1.2rem;
	font-family: "PT Serif", sans-serif;
}

.titleArtikel {
	padding: 130px 0 20px 0;
}

.titleArtikel h1 {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 0px;
	font-weight: 600;
}

.artikel .perArtikel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;
}

.artikel .perArtikel:hover h3 {
	color: #0e85e7;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.artikel .perArtikel img {
	width: 250px;
	height: 150px;
	margin-right: 20px;
	border-radius: 10px;
}

.artikel .perArtikel h3 {
	font-size: 1.7rem;
	font-weight: 600;
	color: #000;
	line-height: 30px;
}

.artikel .perArtikel p {
	color: #000;
}

.iconBox {
	position: fixed;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 9999999999999999999999999999999999999999999;
}

.iconBox .perIconBox {
	width: 50px;
	height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
}

.perIconBox:hover {
	color: #dadada;
}

.wa {
	background-color: #1bc22e;
}

.fb {
	background-color: #4867aa;
}

.ig {
	background: -webkit-gradient(
		linear,
		right top,
		left bottom,
		from(#5056c5),
		color-stop(#ee4b51),
		to(#f7b04d)
	);
	background: linear-gradient(to bottom left, #5056c5, #ee4b51, #f7b04d);
}

.yt {
	background-color: #ff0000;
}

.linkin {
	background-color: #0077b5;
}

.jurusan {
	background-color: #f3f1f1;
	padding: 50px 0;
	margin-top: 80px;
}

.jurusan h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.jurusan .boxJurusan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 50px;
}

.jurusan .boxJurusan .perBox {
	position: relative;
	margin: 10px;
	width: 500px;
	height: 280px;
	overflow: hidden;
}

.jurusan .boxJurusan .perBox img {
	position: absolute;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.jurusan .boxJurusan .perBox h3 {
	position: absolute;
	bottom: -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	left: 0;
	padding-left: 5px;
	color: #fff;
	width: 100%;
	height: 35px;
	background-color: #0066ff;
	font-size: 1rem;
	z-index: 2;
}

.jurusan .boxJurusan .perBox:hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.containerArtikelBeranda {
	padding-top: 50px;
}

.containerArtikelHome h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.containerArtikelHome .artikelHome {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: left;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 30px;
}

.containerArtikelHome .artikelHome .perArtikelHome {
	width: 350px;
	margin: 10px;
	text-decoration: none;
	cursor: pointer;
}

.containerArtikelHome .artikelHome .perArtikelHome:hover h3 {
	color: #0e6ce7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.containerArtikelHome .artikelHome .perArtikelHome img {
	width: 100%;
	height: 225px;
	border-radius: 5%;
	margin-bottom: 10px;
}

.containerArtikelHome .artikelHome .perArtikelHome h3 {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 900;
	color: #000;
}

.containerArtikelHome .artikelHome .perArtikelHome small {
	color: #000;
}

.containerArtikelHome .artikelHome .perArtikelHome small span {
	color: #0e85e7;
	font-weight: 700;
}

.containerArtikelHome .artikelHome .perArtikelHome p {
	font-size: 0.9rem;
	color: #000;
}

.footer {
	background-color: #263238;
	margin-top: 50px;
}

.footer .img-logo {
	width: 100px;
}

.btn-newsletter {
	width: 100%;
	margin-top: 10px;
}
.ekstrakulikuler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ekstrakulikuler .perEkstrakulikuler {
	width: 300px;
	height: 200px;
	position: relative;
	margin: 20px 10px;
	overflow: hidden;
	border-radius: 20px;
	-webkit-box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.ekstrakulikuler .perEkstrakulikuler p {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -17px;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #0069d9;
	color: #fff;
	border-radius: 20px;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.ekstrakulikuler .perEkstrakulikuler::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url("../images/4.jpeg");
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 100%;
}

.ekstrakulikuler .perEkstrakulikuler:hover::before {
	opacity: 0.7;
}

.ekstrakulikuler .perEkstrakulikuler:hover p {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.containerEkstra {
	margin-top: 80px;
	width: 100%;
	height: 70vh;
	background-image: url("../images/basket.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}

.titleEkstrakulikuler {
	font-weight: 600;
	text-transform: uppercase;
	margin: 50px 0;
}

.pembinaEkstrakulikuler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.pembinaEkstrakulikuler .perPembina {
	width: 250px;
	height: 200px;
	margin: 20px 10px;
	position: relative;
}

.pembinaEkstrakulikuler .perPembina img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.pembinaEkstrakulikuler .perPembina h5 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #0077b5;
	margin: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #fff;
	font-size: 1rem;
}

.fasilitas {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.detailArtikel {
	margin: 140px 0 70px 0;
}

.detailArtikel h2 {
	font-weight: 700;
	margin: 0;
	font-size: 2.5rem;
}

.imgArtikel {
	width: 100%;
	height: 700px;
	margin-bottom: 50px;
}

.shareArtikel p,
.penulis p {
	font-weight: 700;
	text-transform: uppercase;
}

.shareArtikel img,
.penulis img {
	width: 60%;
	height: 200px;
	border-radius: 10px;
}

.shareArtikel h4,
.penulis h4 {
	font-weight: 600;
}

.containerIconShare {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.containerIconShare .iconShare {
	width: 50px;
	height: 40px;
	margin: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 4px;
}

.fixed {
	position: fixed;
	right: 100px;
	top: 150px;
}

.mainDetailArtikel .row .col-md-8 h1,
.mainDetailArtikel .row .col-md-8 h2,
.mainDetailArtikel .row .col-md-8 h3,
.mainDetailArtikel .row .col-md-8 h4,
.mainDetailArtikel .row .col-md-8 h5,
.mainDetailArtikel .row .col-md-8 h6 {
	font-weight: 600;
}

.kontak {
	margin: 150px 0 150px 0;
}

.kontak form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.kontak form .formKontakKiri {
	width: 45%;
}

.kontak form .formKontakKanan {
	width: 50%;
}

iframe {
	width: 100%;
	height: 500px;
	margin: 0;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
}

@media (max-width: 1175px) {
	.jurusan .boxJurusan .perBox {
		width: 375px;
		height: 225px;
	}
}

@media (max-width: 1000px) {
	.shareArtikel img,
	.penulis img {
		width: 80%;
	}
	.detailArtikel h2 {
		font-size: 2rem;
	}
	.kepsek .container img {
		margin-right: 30px;
	}
	.kepsek .container .visiMisi {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: inherit;
		-ms-flex-pack: inherit;
		justify-content: inherit;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.kepsek .container .visiMisi .visi {
		margin: 0 0 20px 0;
	}
	.kepsek .container .visiMisi .visi h3 {
		font-weight: 600;
	}
	.kepsek .container .visiMisi .misi p {
		font-size: 1rem;
	}
	.sambutan h1 {
		font-size: 1.7rem;
	}
	.sambutan p {
		font-size: 0.8rem;
	}
	.perGaleri img {
		width: 200px;
		height: 100px;
	}
	.title h2 {
		font-size: 1.7rem;
	}
	.jurusan .boxJurusan .perBox {
		width: 300px;
		height: 200px;
	}
}

@media (max-width: 995px) {
	.navbar-collapse {
		background-color: white;
		border-radius: 10px;
		padding-bottom: 20px;
		padding-top: 20px;
		box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.dropdown-item {
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
		font-size: 1.1rem;
		margin-left: 20px;
		font-weight: 400;
		color: #212529;
	}
	.artikel .perArtikel h3 {
		font-size: 1.5rem;
	}
	.artikel .perArtikel p {
		font-size: 0.9rem;
	}
	.containerArtikelHome .artikelHome .perArtikelHome {
		width: 300px;
	}
	.containerArtikelHome .artikelHome .perArtikelHome img {
		height: 200px;
	}
	.containerEkstra {
		height: 50vh;
	}
}

@media (max-width: 770px) {
	.jurusan h2 {
		font-size: 2rem;
	}
	.jurusan .boxJurusan .perBox {
		width: 80%;
		height: 250px;
	}
	.containerArtikelHome .artikelHome .perArtikelHome {
		width: 100%;
	}
	.containerArtikelHome .artikelHome .perArtikelHome img {
		height: 300px;
	}
	.artikel .perArtikel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.artikel .perArtikel img {
		width: 100%;
		height: 250px;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.artikel .perArtikel .textArtikel h3 {
		font-size: 1.7rem;
	}
	.kepsek .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.kepsek .container img {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.sambutan h1 {
		font-size: 1.5rem;
	}
	.pembinaEkstrakulikuler .perPembina {
		width: 80%;
		height: 300px;
	}
}

@media (max-width: 767px) {
	.shareArtikel img,
	.penulis img {
		width: 50%;
	}
}

@media (max-width: 650px) {
	.slideshow .container {
		left: 0;
		bottom: 250px;
	}
	.imgArtikel {
		height: 400px;
	}
	.detailArtikel h2 {
		font-size: 1.7rem;
	}
}

@media (max-width: 475px) {
	.perGaleri img {
		width: 150px;
		height: 100px;
	}
	.pembinaEkstrakulikuler .perPembina {
		width: 100%;
		height: 300px;
	}
	.containerArtikelHome h2 {
		font-size: 1.5rem;
	}
	.containerArtikelHome .artikelHome .perArtikelHome {
		width: 100%;
	}
	.containerArtikelHome .artikelHome .perArtikelHome img {
		height: 250px;
	}
	.title h1 {
		font-size: 1.7rem;
	}
	.title p {
		font-size: 1rem;
	}
}

@media (max-width: 450px) {
	.shareArtikel img,
	.penulis img {
		width: 80%;
		height: 250px;
	}
	.imgArtikel {
		height: 200px;
	}
	.navbar .navbar-brand img {
		width: 33px;
		height: 33px;
	}
	.navbar .navbar-brand h1 {
		font-size: 1rem;
		margin-left: 10px;
		font-family: "Viga", sans-serif;
		letter-spacing: 1.4px;
		font-weight: 800;
		color: #fff;
	}

	.navbar .navbar-brand .sekolah {
		font-size: 1rem;
		font-family: "Viga", sans-serif;
		font-weight: 500;
		color: #fff;
	}

	.containerEkstra {
		margin-top: 60px;
	}
	.slideshow .container .mainText .garis {
		height: 70px;
	}
	.slideshow .container .mainText h3 {
		font-size: 1.2rem;
		margin-left: 20px;
	}
	.slideshow .container .mainText h1 {
		margin: 20px 0 30px 20px;
		font-size: 1.8rem;
	}
	.slideshow .container h3 {
		font-size: 0.9rem;
	}
	.artikel .perArtikel img {
		height: 200px;
	}
	.artikel .perArtikel .textArtikel h3 {
		font-size: 1.5rem;
	}
	.artikel .perArtikel .textArtikel p {
		font-size: 0.8rem;
	}
	.artikelPagination span {
		padding: 5px 15px;
		font-size: 0.9rem;
		border: 1px solid #000;
		margin: 0 5px;
	}
	.titleArtikel h1 {
		text-align: center;
	}
	.artikel .perArtikel img {
		height: 200px;
	}
	.artikel .perArtikel .textArtikel h3 {
		font-size: 1.5rem;
	}
	.artikel .perArtikel .textArtikel p {
		font-size: 0.8rem;
	}
	.artikelPagination span {
		padding: 3px 10px;
		font-size: 0.7rem;
	}
	.jurusan h2 {
		font-size: 1.5rem;
	}
	.jurusan .boxJurusan .perBox {
		width: 100%;
	}
	.jurusan .boxJurusan .perBox h3 {
		font-size: 0.8rem;
	}
	.iconBox {
		top: 100%;
		-webkit-transform: translate(0, -100%);
		transform: translate(0, -100%);
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.iconBox .perIconBox {
		width: 300px;
		border-bottom: 0px solid #0306aa;
		border-right: 0px solid #666666;
	}
	.pembinaEkstrakulikuler .perPembina {
		height: 200px;
	}
}

@media (max-width: 463px) {
	.galeri-foto-video .tab-content .row_video .col-12 {
		margin-bottom: 30px;
	}

	.galeri-foto-video .container .tab-content .row {
		margin-left: 11.5px;
	}

	.galeri-foto-video .container .tab-content .card {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		margin-bottom: 30px;
	}

	.news-body .container .row {
		margin-left: 11.5px;
	}

	.dosen .background_card .row {
		display: flex;
		justify-content: center;
	}

	.dosen .background_card .col-sm-8 p,
	.dosen .background_card .col-sm-8 h4 {
		text-align: center;
	}

	.dosen {
		margin-top: -12rem;
	}
	.dosen .background_card {
		padding: 2rem 0 0 0;
	}

	.prodi-pai .nav-tabs .nav-item .nav-link span {
		display: none;
	}

	.prodi-pai {
		margin-top: -16rem;
	}

	.visi_misi {
		margin-top: -14rem;
	}

	.motto {
		display: none;
	}

	.sejarah_isi .sejarah_text_header {
		font-size: 25px;
		font-weight: 800;
	}

	.sejarah_isi .sejarah_text_body {
		font-size: 13px;
		text-align: justify;
	}
	.sejarah_isi {
		margin-top: -13rem;
		margin-bottom: 50px;
	}

	.banner-sejarah-yayasan {
		background-image: url("../images/kampus-01.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center -15rem;
		padding-top: 15rem;
		padding-bottom: 15rem;
	}

	.banner-sejarah-yayasan .text-header {
		margin-top: -10rem;
		font-size: 22px;
	}

	.banner-sejarah-yayasan .text-daftar {
		font-size: 12px;
	}

	.kepsek .col-kepsek {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.kepsek .isi-kepsek h2 {
		margin-top: 40px;
	}
	.kepsek .container .kotak {
		width: 300px;
		height: 350px;
		border-radius: 10px;
		background-color: black;
		box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
		overflow: hidden;
	}

	.footer .icon_media_sosial {
		margin-left: 80px;
	}

	.footer .icon-footer {
		color: white;
		font-size: 30px;
	}
	.footer .icon_media_sosial .wat,
	.footer .icon_media_sosial .fbk,
	.footer .icon_media_sosial .ytb,
	.footer .icon_media_sosial .isg,
	.footer .icon_media_sosial .linkind {
		transition: font-size 0.3s ease; /* Menambahkan transisi untuk perubahan ukuran font */
	}

	.footer .icon_media_sosial .wat:hover {
		color: #1bc22e;
		font-size: 2.2rem;
	}

	.footer .icon_media_sosial .fbk:hover {
		color: #4867aa;
		font-size: 2.2rem;
	}

	.footer .icon_media_sosial .isg:hover {
		color: #ee4b51;
		font-size: 2.2rem;
	}

	.footer .icon_media_sosial .ytb:hover {
		color: #ff0000;
		font-size: 2.2rem;
	}

	.footer .icon_media_sosial .linkind:hover {
		color: #0077b5;
		font-size: 2.2rem;
	}
	.footer-laptop {
		display: none;
	}

	.footer {
		display: block;
	}
	.footerCopyright {
		background-color: black;
		padding: 10px;
	}

	.footerCopyright span {
		color: white;
	}

	.footer-beranda .link {
		display: grid;
	}
	.footer-beranda .link a {
		color: white;
		line-height: 50px;
	}

	.footer-beranda {
		margin-left: 34px;
	}

	.footer-beranda h3 {
		color: white;
		margin-top: 40px;
	}

	.footer .footer_icon {
		margin-left: -10px;
		color: white;
		font-weight: 300;
	}

	.footer .utama {
		margin-top: 5px;
	}

	.footer .akhir {
		margin-bottom: 40px;
	}

	.footer .icon {
		margin-left: 34px;
		color: white;
		font-size: 20px;
		margin-top: 10px;
	}

	.footer .footer_about {
		color: white;
		font-weight: 800;
	}

	.footer .footer_about span {
		color: white;
		font-weight: 500;
	}

	.footer .img-logo {
		width: 50px;
		margin-left: 20px;
	}

	.footer .container {
		padding-top: 50px;
	}

	.kepsek .isi-kepsel .isi-header {
		margin-top: 20px;
		font-size: 12px;
		font-weight: 600;
		background-color: blue;
	}

	.banner-pendaftaran .col-btn-daftar {
		text-align: center;
	}

	.banner-pendaftaran .btn-daftar {
		margin-top: 20px;
	}

	.banner-pendaftaran .text-daftar {
		color: white;
		font-size: 12px;
		text-align: center;
	}

	.banner-pendaftaran .text-header {
		color: white;
		font-weight: 800;
		letter-spacing: 1px;
		font-size: 16px;
		text-align: center;
	}

	.sambutan h3 {
		font-weight: 700;
		margin-bottom: 30px;
		font-size: 14px;
		text-transform: uppercase;
	}

	.sambutan p {
		font-size: 0.7rem;
		font-weight: 500;
		margin-top: -20px;
	}

	.iconBox {
		display: none;
	}
	.slideshow {
		width: 100%;
		height: 55vh;
	}

	.slideshow img {
		width: 100%;
		height: 100%;
	}

	.slideshow .container .mainText .garis {
		height: 60px;
		position: relative;
		top: 17rem;
		left: 3rem;
	}
	.slideshow .container .mainText h3 {
		font-size: 1rem;
		margin-left: 20px;
		position: relative;
		top: 13.5rem;
		left: 3rem;
	}
	.slideshow .container .mainText h1 {
		margin: 20px 0 30px 20px;
		font-size: 2rem;
		position: relative;
		top: 13.3rem;
		text-transform: capitalize;
		left: 3rem;
	}
	.slideshow .container h3 {
		font-size: 0.9rem;
		position: relative;
		top: 12.4rem;
		left: 3rem;
	}
	.navbar-brand .mobile {
		display: block;
	}

	.navbar-brand .no-mobile {
		display: none;
	}

	.navbar .navbar-brand h1 {
		font-size: 15px;
		margin-left: 10px;
		font-family: "Viga", sans-serif;
		letter-spacing: 1.4px;
		line-height: 15px;
		font-weight: 800;
		color: #fff;
	}

	.kepsek .container img {
		width: 200px;
		height: 200px;
	}
	.kepsek .container .visiMisi .visi h5 {
		font-size: 0.9rem;
	}
	.kepsek .container .visiMisi .visi h3 {
		font-size: 1rem;
	}
	.kepsek .container .visiMisi .misi h5 {
		font-size: 0.9rem;
	}
	.kepsek .container .visiMisi .misi p {
		font-size: 0.9rem;
	}
	.perGaleri img {
		width: 100%;
		height: 200px;
	}
	.perFooterContactUs p {
		font-size: 0.9em;
	}
}
/*# sourceMappingURL=style.css.map */
